{% extends "city/base.html" %}

{% block content %}
    <p><strong>Исторические фотографии Зеленоградска (Кранца):</strong></p>
    <p>На старых снимках можно увидеть променад и купальни Кранца начала XX века, уютные улочки с немецкой застройкой, отдыхающих на пляже и первые курортные павильоны.</p>
    <p>Часть коллекции хранится в Зеленоградском городском краеведческом музее. Также многие фотографии доступны в цифровых архивах и на тематических ресурсах о довоенной Восточной Пруссии.</p>
{% endblock %}
